@charset "ISO-8859-1";

body{
	background: #fff;
	}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  
}

}
.thead-dark{
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
        }	
        
.table .thead-dark th {	
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  text-align: center;
 
}
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}