@charset "ISO-8859-1";
/* Style the search box */
 #mySearch {
  width: 40%;
  font-size: 18px;
 
  } 
.panel-body {
  border-top: 2px solid #337ab7;
  margin-top: 3px;
}
 *{
margin: 0;
padding: 0;
/*user-select: none;*/

/* font-family: 'Poppins', sans-serif; */
} 
 
 
  nav ul{
	/* background: #1b1b1b; */
	height: 100%;
	/* width: 100%; */
	list-style: none;
}   
.facts ul li {
    list-style-type: square;
    padding-left:1em !important;
    margin-left:1em;
    
}
    /* nav ul li{
	line-height: 40px;
	border-bottom: 1px solid rgba(255,255,255,255);
}   */
 
nav ul li a{
	position: relative;
	color:  black  ;
	text-decoration: none;
	font-size: 15px;
	/* padding-left: 40px; */
	font-weight: 400;
	display: block;
	width: 100%;
    border-left: 3px solid transparent;
}

  /* nav ul ul li a:hover{
	color: cyan;
	background: #lelele;
	border-left-color: black;
	
	
}    */

 nav ul ul ul{
	position: static;
	
} 
nav ul ul .proj-show.show{
	display: block;
} 

nav ul ul li{
	line-height: 30px;
	border-bottom: none;
}
nav ul ul ul li a{
	font-size: 17px;
	color:  #212f3d ; /*#e6e6e6;*/
	/* padding-left: 90px; */
} 

  /* nav ul ul li a span{
	 position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%); 
	font-size: 22px;
	transition: transform 0.4s;
} 
 nav ul ul li a:hover span{
	transform: translateY(-50%) rotate(-180deg);
} */
     
.hide {
  display: none;
}

.reportLink:hover + .hide {
  display: block;
  background-color: red;
}