<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.c3p0.acquire_increment">5</property> <!-- Determines how many connections at a time c3p0 will try to acquire when 
			the pool is exhausted -->
		<property name="hibernate.c3p0.idle_test_period">300</property> <!-- Idle time in seconds before a connection is automatically validated -->

		<property name="hibernate.c3p0.max_size">50</property>  <!-- Maximum number of JDBC connections in the pool -->
		<property name="hibernate.c3p0.min_size">5</property>   <!-- Minimum number of JDBC connections in the pool -->
		<property name="hibernate.c3p0.max_statements">150</property>  <!-- Number of prepared statements will be cached -->
		<property name="hibernate.c3p0.timeout">1800</property>  <!-- When an idle connection is removed from the pool (in second) -->

		<!-- <property name="hbm2ddl.auto">update</property> -->

		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Postgres dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="configurationClass">org.hibernate.cfg.AnnotationConfiguration</property>
		<property name="show_sql">true</property> <!-- To show sql queries in console -->

		<!-- Bean Mappings(tables) -->
		<mapping class="app.bean.User" />

		
		<mapping class="app.model.IwmpState" />
		<mapping class="app.model.StateDistrictCode" />
		<mapping class="app.model.IwmpDistrict" />

		<mapping class="app.model.IwmpMAreaType" />
		<mapping class="app.model.IwmpMFinYear" />
		<mapping class="app.model.IwmpActiveUserHistory" />
		<mapping class="app.model.UserMap" />
		<mapping class="app.model.UserReg" />
		<mapping class="app.model.IwmpAppRoleMap" />
		<mapping class="app.bean.IwmpRoleMenuMap" />
		<mapping class="app.bean.IwmpMenu" />
		<mapping class="app.model.IwmpMProject" />
		<mapping class="app.model.IwmpUserProjectMap" />
		<mapping class="app.model.IwmpUserAppRoleMap" />
		<mapping class="app.model.IwmpLoginLog" />
		<mapping class="app.model.IwmpMProjectPrd" />
		<mapping class="app.model.IwmpMCsShare" />
		<mapping class="app.model.IwmpActiveUserHistory" />
		<mapping class="app.model.IwmpHitCount" />
		<mapping class="app.model.project.IwmpProjectWc" />
		<mapping class="app.model.project.IwmpProjectLocation" />
		<mapping class="app.model.master.IwmpVillage" />
		<mapping class="app.model.master.IwmpGramPanchayat" />
		<mapping class="app.model.master.IwmpBlock" />
		<mapping class="app.model.master.IwmpMWc" />
		<mapping class="app.model.master.IwmpMProjectPrepare" />
		<mapping class="app.model.master.IwmpMPhyHeads" />
		<mapping class="app.model.master.IwmpMPhyActivity" />
		<mapping class="app.model.project.IwmpProjectPhysicalAap" />
		<mapping class="app.model.project.IwmpProjectPrepare" />
		<mapping class="app.model.project.IwmpProjectPrepare" />
		<mapping class="app.model.master.IwmpMUnit" />
		<mapping class="app.model.project.IwmpApprovelLevelHistory" />
		<mapping class="app.model.project.IwmpApprovelLevel" />
		<mapping class="app.model.project.IwmpProjectPhysicalTranx" />
		<mapping class="app.model.project.IwmpProjectPhysicalPlan" />
		<mapping class="app.model.master.IwmpUploadCategory" />
		<mapping class="app.model.master.IwmpUserUploadDetails" />
		<mapping class="app.model.project.IwmpProjectPhysicalAsset" />
		<mapping class="app.model.project.IwmpProjectPhysicalAssetTemp" />
		<mapping class="app.model.IwmpUserActionLog" />
		<mapping class="app.model.project.WdcpmksyPrdouctionWorkid" />
		<mapping class="app.model.project.WdcpmksyLivelihoodWorkid" />
		<mapping class="app.model.project.WdcpmksyEpaWorkid" />
		<mapping class="app.projectevaluation.model.MEvaluationIndicator" />
		<mapping class="app.projectevaluation.model.WdcpmksyProjectProfileEvaluation" />
		<mapping class="app.projectevaluation.model.IndicatorEvaluation" />
		<mapping class="app.projectevaluation.model.FundUtilization" />
		<mapping class="app.projectevaluation.model.WdcpmksyMandaysDetails"    />
		<mapping class="app.projectevaluation.model.WdcpmksyCroppedDetails1"    />
        <mapping class="app.projectevaluation.model.WdcpmksyExecutionPlannedWork"  />
        <mapping class="app.projectevaluation.model.WdcpmksyQualityShapeFiles"  />
        <mapping class="app.projectevaluation.model.WdcpmksyStatusGeotaggWork"  />
        <mapping class="app.projectevaluation.model.WdcpmksyCroppedDetails2"  />
        <mapping class="app.projectevaluation.model.WdcpmksyCroppedDetails3"  />
        <mapping class="app.projectevaluation.model.WdcpmksyEcologicalPerspective"  />
        <mapping class="app.projectevaluation.model.WdcpmksyEquityAspect"  />
        <mapping class="app.projectevaluation.model.WdcpmksyProductionDetails"  />
        <mapping class="app.watershedyatra.model.NodalOfficer"  />
        <mapping class="app.watershedyatra.model.RoutePlanVanTravel"  />
        <mapping class="app.watershedyatra.model.WatershedYatraInauguaration"  />
        <mapping class="app.watershedyatra.model.WatershedYatVill"  />
        <mapping class="app.watershedyatra.model.MCulturalActivity"  />
        <mapping class="app.watershedyatra.model.MCulturalActivity"  />
        <mapping class="app.watershedyatra.model.PreYatraPreparation" />
        <mapping class="app.watershedyatra.model.PreYatraGramsabha" />
        <mapping class="app.watershedyatra.model.PreYatraPrabhatpheri" />
        <mapping class="app.watershedyatra.model.WatershedYatVillDuplicate" />
        <mapping class="app.janbhagidariPratiyogita.JanbhagidariPratiyogita" />
        <mapping class="app.janbhagidariPratiyogita.JanbhagidariPratiyogitaNgoname" />
        <mapping class="app.janbhagidariPratiyogita.JanbhagidariPratiyogitaNgovillage" />
        <mapping class="app.janbhagidariPratiyogita.JanbhagidariPratiyogitaSWCKAccount" />
        <mapping class="app.model.master.JanbhagidariTypeOfWork" />
        <mapping class="app.janbhagidariPratiyogita.JanbhagidariPratiyogitaTypeofWork" />
        <mapping class="app.mahotsav.model.WatershedMahotsavMediaMaster" />
        <mapping class="app.mahotsav.model.WatershedMahotsavRegistration" />
        <mapping class="app.mahotsav.model.WatershedMahotsavVideoDetails" />
        <mapping class="app.mahotsav.model.WatershedMahotsavInauguarationActivityMaster" />
        <mapping class="app.mahotsav.model.WatershedMahotsavInauguaration" />
        <mapping class="app.mahotsav.model.WatershedMahotsavInauguarationActPhoto" />
        
        
	</session-factory>
</hibernate-configuration>